*{
    margin: 0;
    padding: 0;
}

.body{
    width: 100%;
    height: 100%;
    background-color: rgb(164, 200 ,234);
    
}


.content-cards{
    position: fixed;
    top: 15%;
    width: 100%;
    height: 75vh;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: 20px;
    padding: 0;
    padding-top: 20px;
    margin: 0;
    
}
.content-cards::-webkit-scrollbar { 
    display: none;  /* Safari and Chrome */
}
.card{
    height: 400px;
    width: 260px;
    display: inline-block;
    background-color: #fff;
    margin-left: 40px;
    box-shadow: 12px 15px 20px rgba(21, 71, 125, 1);
    border-radius: 25px;
    color: #363636;
    overflow: hidden;
}

.row-head{
    width: 100%;
    height: 60px;
    position: absolute;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #fff;

    display: flex;
    align-items: center;
    justify-content: center;

}

.titel-head{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 900;
    font-size: 16px;
}
.image-head{
    border-radius: 25px;
}

.row-card{
    height: 50%;
    width: 100%;
    position: relative;

}

.head-card{
    border-radius: 25px 25px 0 0;
   
}
.image_card{
    width: 100%;
    background-image: url(debut.jpg);
    background-size:auto 100%;
    background-repeat: no-repeat;
    height: 100%;
    border-radius: 25px 25px 0 0;
    background-color: aqua;
}

.image-card4{
    background-image: url(card2.jpg);

}

.image-card5{
    background-image: url(card5.gif);

}

.body-card{
    border-radius: 0 0 25px 25px;
    width: 100%;

    position: relative;
}

.border-card{
    position: relative;
    width: 140%;
    height: 100%;
    top: -28px;
    left: -40%;
    padding-top: 20px;
    padding-left: 27%;
    background-color: #fff;
    border-radius: 50% 50%  25px 25px;
    display: flex;
    justify-content: center;
}

.border-card-line{
    position: absolute;
    width: 140%;
    height: 100%;
    top: -36px;
    border-top: solid 3px #ffffff;
    
    left: -40%;
    padding-top: 20px;
    padding-left: 27%;
    border-radius: 50% 50%  25px 25px;
}
.title-card{
    position: absolute;
    padding-top: 15px;
    right: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.text-card{
    position: absolute;
    padding-left: 25px;
    padding-top: 60px;
    width: 90%;
    padding-right: 20px;
    height: 500px;
        
}


.like-card{

    background-image: url(Linkedin-Like.png);
    width: 100px;
    background-size: 70% auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    align-self: center;
    height: 100px;

    border-radius: 50%;
    right: 35%;
    top: 100px;
    border-bottom: solid 3px #2247c4bd;

}


.like-card-border{
    width: 100px;

    position: absolute;
    align-self: center;
    height: 100px;

    border-radius: 50%;
    right: 35%;
    top: 106px;
    border-bottom: solid 3px #99a4c7bd;
}

.insightful{
    background-image: url(Linkedin-Insightful.png);
    border-bottom: solid 3px #c49922bd;
    background-size: 50% auto;
    background-repeat: no-repeat;
    background-position: center;

}

.insightful-border{
    border-bottom: solid 3px #c7b899bd;

}